<!DOCTYPE html>

<html>
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>News</title>

    <!-- Styles -->
    <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity=”sha384–1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin=”anonymous”>
    <! — Optional theme →
    <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity=”sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r” crossorigin=”anonymous”>
    <! — Latest compiled and minified JavaScript →
    <script src=”https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity=”sha384–0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS”
            crossorigin=”anonymous”></script>

</head>

<body>
<!-- Nav -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="/" class="navbar-item px-3"><strong>News</strong></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'search' %}">
            <input class="form-control mr-sm-2" type="text" placeholder="Search..." name="query">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <ul class="navbar-nav">
            <li class="nav-item px-2 active">
                <a href="{% url 'newest' %}" class="nav-link">Newest</a>
            </li>
            <li class="nav-item px-2 active">
                <a href="{% url 'submit' %}" class="nav-link">Submit</a>
            </li>
        </ul>
        {% if user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="{% url 'logout' %}" class="nav-link">Log out</a>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav">
                <li class="nav-item pl-6 active">
                    <a href="{% url 'signup' %}" class="nav-link"><strong>Sign up</strong></a>
                </li>
                <li class="nav-item active">
                    <a href="{% url 'login' %}" class="nav-link">Log in</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
<!-- End Nav -->

<!-- Content -->
<section class="section">
    {% block content %}
    {% endblock %}
</section>
<!-- End Content -->
</body>
</html>